body {
    cursor: default;
    font-size: 14px;
}
.container {
    margin-top: 10px;
}

.content-header {
    background-color: #4f4250;
}

.header {
    padding: 10px 0;
    color: #fff;
    position: relative;
    z-index: 100;
}
.basket-wrap {
    position:relative;
    left: 0;
    top: 0;
    background: #fff;
    min-height: 100vh;

}

//pizza-types
.pizza-type-wrap {
    overflow: hidden;
    height: 60px;
    & .pizza-type {
        overflow: auto;
        padding: 15px;
        justify-content: start;
        & > div {
            padding: 5px 20px;
            color: #fff;
            font-size: 1em;
            &.active {
                border-bottom: 2px solid #ef1919
            }
            &:not(:first-child) {
                border-left: 1px solid #ffffff6b;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}


.pizza-list-wrap {

    &  .pizza-item-list {
        border: 1px solid #b7c4ce;
        flex-direction: column;

        & .footer-item-block {
            display: flex;
            flex-wrap:wrap;
            & > div {
                flex: 0 0 100%;
            }
        }
        & .btn {
            background: #46314a;
            font-size: 0.9em;
            color: #fff;
            cursor: pointer;
        }

    }


}
.pizza-image {
    height: 160px;
    &-basket {
        height: 60px;
        width: 60px;

    }
}
.pizza-item-wrap {
    position: fixed !important;
    top: 0 ;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    min-height: 100vh;

}

.basket-page {
    & .basket-items {

        & > div {
            border: 1px solid $order-border;
            border-left: none;
            border-radius: 8px;
            overflow: hidden;

            & > div {
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex: 1 1 auto;
                border-left:1px solid $order-border;
            }
            & > div:not(:last-child) {
                border-bottom: 1px solid $order-border;
            }
        }
        & .count-btn {
            width: 14.3px;
            height: 14px;
            color: #1f6f30;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border:1px solid grey;
            &-minus:after {
                content: "-";
                font-size: 1.2em;
            }
            &-plus:after {
                content: "+";
            }

        }
        & .remove-item {
            background: #983d3d;
            font-size: 0.9em;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
        }
        button {
            background: #c13851;
        }
    }
    &  .basket-footer {
        background: #211620;
        padding: 10px;
        color: #fff;
        border-radius: 8px;
        & button {
            background-color: #35a062;
        }
    }

}


//order
.order-items {
    & > div  {
        display: grid;
        grid-template-columns:150px repeat(4, 1fr);
        & > div {
            padding: 5px;
            border: 1px solid $border-color;

        }
    }
    & .order-header {
        background-color: #211620;
        color: #fff;
        text-align: center;
        }
    & .order-item-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
